<section id='header'>

<section class='right'>
<%= render partial: '/shared/search' %>
		<section class='right'>
				<table>
						<tr>
								<td>
										<%= render partial: '/shared/contact_info' %>
								</td>
								<td>
										<%= render partial: '/shared/social_network_icons' %>
								</td>
						</tr>
				</table>
		</section>
</section>

<%= link_to(logo, root_path, id: 'logo') %>

<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
}) %>
</section>
