<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body>
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <section id="page_container">
      <section id="header" class='bg_filled'>
        <%= render :partial => "/shared/header" -%>
      </section>
			<section id='page' class='fixed_width'>
        <%= yield %>
      </section>
      <section id="footer" class='bg_filled'>
        <%= render :partial => "/shared/footer" -%>
      </section>
    </section>
    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
