<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>

  <body>
		<%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

		<%= render :partial => "/shared/header/header" %>
		<%= render partial: '/shared/nav/nav' %>

		<section id='container_body'>

			<%= render partial: '/shared/hero/hero' %>
			<section id='body'>
				<%= yield %>
			</section>

		</section>

		<% render partial: '/shared/nav/nav' %>

		<%= render :partial => "/shared/footer/footer" -%>
  </body>
</html>
